<a href="https://colab.research.google.com/github/Vatsalp599/Vatsalp599-DataScience-GenAI-submissions/blob/main/1_02_numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://drive.google.com/uc?export=view&id=1xqQczl0FG-qtNA2_WQYuWePW9oU8irqJ)

# 1.02 Numbers

 ## Integers

 An integer is a whole number with no decimal point, and are a simple data type to work with in Python.

In [1]:
number_one = 48
type(number_one)

int

In [2]:
number_two = -265
type(number_two)

int

## Floating Points

A floating point number, sometimes called just __float__ is a number that contains a decimal point. Floating points are also a simple data type to work with in Python, although there are a few things to be aware of.

Below are some examples of assigning floats to a variable, in the second example we see the number forty-eight. Notice that the type returns __float__, while in the previous section the number forty-eight returned __int__. While technically the same number, Python will always treat a number with a decimal point (even if 0) as a float.

In [3]:
number_three = 3.3
type(number_three)

float

In [4]:
number_four = 48.0
type(number_four)

float

## Arithmatic Operators

In Python you can perform basic arithmatic operations on numbers, such as addition, subtraction, multiplication and division.

In [5]:
2 + 6

8

In [6]:
6 - 2

4

In [7]:
2 * 6

12

In [8]:
6 / 2

3.0

## Changing Types Dynamically

Whenever you perform a division using Python the standard return data type will always be float, even if the result would be a whole number. In some cases we may want to change the type of a variable within an operation. Fortunately,
Python includes several inbuilt __functions__ to do this such as __int()__ to convert to integer; __float()__ to convert to float:

In [9]:
type(6/2)

float

In [10]:
type(int(6/2))

int

In [11]:
type(2+2)

int

In [12]:
type(float(2+2))

float

## Arithmatic Operations with Floats

Another thing to be aware of regarding floats, is that any mathematical operation that uses a float will return a float, even if the result is a whole number.

In [13]:
2.0 + 6.0

8.0

In [14]:
2 * 6.0

12.0

In [15]:
6 - 2.0

4.0

## Floating Point Inaccuracy

It is possible that when dealing with floats you may get an unexpected answer (see below), this is unfortunately an issue that computers have, where they cannot represent certain fractions precisely as __binary__, just like how our number system makes it impossible to represent the fraction $1/3$ precisely in decimal form.

In [16]:
0.2 + 0.1

0.30000000000000004

## Rounding Numbers

Another inbuilt function that comes with Python is the round() function, which as the name suggest rounds a number. Use this like we used the __int()__ and __float()__ functions above by wrapping it around a float.

In [17]:
round(4.8)

5

In [18]:
round(4.3)

4

In [19]:
round(4.5)

4

In [20]:
round(3.5)

4

We should bring our attention to the final two examples of rounding above, in both cases the decimal is .5, meaning that it is equally between the two nearest integers. The most common method of rounding has usually been to always round up in this scenario, however, Python rounds to the nearest even number (also known as bankers rounding).

We can also set how many decimal places to round to, by using the optional digits __parameter__, as you get more used to reading Python documentation you will more easily understand all the things a function can do. We use the round function to fix our float issue mentioend in the previous section.

In [21]:
round(0.2 + 0.1, 1)

0.3

In [22]:
round(3.333333333333333, 3)

3.333

## Raising a Number to a Power

To raise a number to a power you can use the exponentiation operator which is two asterisks (\*\*) followed by the power you wish to raise by.

In [23]:
6 ** 2

36

In [24]:
6 ** 3

216

In [25]:
6 ** 6

46656

## Order of Operations

Arithmetic in Python follows the standard order of operations. The order of operations is:
- Brackets (Paranthesis)
- Indicies (Exponents or Orders)
- Division/Multiplication
- Addition/Subtraction

This is usually shortered to an easy to remember acronym, such as: BIDMAS, BODMAS, BEDMAS or PEMDAS.

In [26]:
2 + 6 * 5

32

In [27]:
(2 + 6) * 5

40

## Math Module

Included in Pythons standard library are various mathematical tools, such as the math module, this is not necessary for us presently, however, feel free to play around with some of the functions available. You can view a list [here](https://docs.python.org/3/library/math.html). To use the math functions you must import the math module first, then you can use the functions in the same way as you have previously.

In [28]:
import math

print(math.factorial(3)) # 1 * 2 * 3
print(math.factorial(4)) # 1 * 2 * 3 * 4
print(math.factorial(5)) # 1 * 2 * 3 * 4 * 5

6
24
120