<a href="https://colab.research.google.com/github/Vatsalp599/Vatsalp599-DataScience-GenAI-submissions/blob/main/1_03_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://drive.google.com/uc?export=view&id=1xqQczl0FG-qtNA2_WQYuWePW9oU8irqJ)

In [42]:
# @title
%%html
<!--- IGNORE THIS FOR FORMATTING PURPOSES ONLY --->
<style>
table {float:left}
</style>

# 1.03 Strings

## Strings

Strings are another simple data type to work with. A string is a value made up of text (or more precisely, made up of at least one character), and in Python strings are enclosed within single or double quotation marks.

In [43]:
'This is a string.'

'This is a string.'

In [44]:
"Strings are made up of 'characters', this also includes numbers."

"Strings are made up of 'characters', this also includes numbers."

In [45]:
type("12345")

str

### Assigning Strings to a Variable

You assign strings to a variable the same way as with the previous data types discussed. Use the assignment operator to assign the string to a variable name.

In [46]:
name = "Michael Mortenson"

In [47]:
last_name = "Mortenson"

In [48]:
age = "Unknown"

### Single vs Double Quotation Marks

It doesn’t matter which type of quotation mark you use, so long as you are consistent, however there will be times where you may need to make use of either type of quotation mark to fulfill your objective.

In [49]:
single_quote_error = 'Bernardo O'Higgins'

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-3505624268.py, line 1)

In [50]:
double_quote_error = "Liping said "Direct all Python related questions to me, you can just relax Jordan!""

SyntaxError: invalid syntax (ipython-input-1919746652.py, line 1)

If you run the above code, you will notice we get a syntax error, meaning Python does not interpret our code to be valid Python code. The cause of the above errors is that we have used the same type of quotation mark within our string. Python interprets this as the end of our string, with everything following being unrecognizable as valid Python code.

One way of overcoming this issue,is to change the type of quotation mark you wrap your string around to the opposite of the quotation mark you used in your string.

In [51]:
name = "Bernardo O'Higgins"
print(name)

Bernardo O'Higgins

In [52]:
quote = 'The UG office have asked for "100% participation in the module evaluation survey" please.'
print(quote)

The UG office have asked for "100% participation in the module evaluation survey" please.

### Escape Characters

In rare instances, a string will contain both single and double quotes, rendering the above method unable to work around the problem. Python has a way of fixing this problem by using escape characters. Escape characters allow you to insert illegal characters in a string. Python’s escape character is a backslash (\\) and you use it by inserting it before the illegal characters in a string.

In [53]:
escape_example = '"My friends call me Joan" - Jeanne d\'Arc (Probably)'

#### Tabs and New Lines

As we are discussing escape characters, it’s good to be aware of the new line and the tab escape characters in Python as well as using escape characters to break up long strings into multiple lines, as you will probably need to use them at some point when using strings.

|Escape Character|Result|
|:---:|:---:|
|\'|Single quote|
|\"|Double quote|
|\n|New line|
|\t|Tab|
|\\|Backslash|

In [54]:
escape_example2 = "Last year nothing happened\nThe year before nothing happened\nAnd the year before that nothing happened.\
\n\t - Osamu Dazai"

print(escape_example2)

Last year nothing happened
The year before nothing happened
And the year before that nothing happened.
	 - Osamu Dazai

In [55]:
strings_new_line = "Line 1\nLine 2\nLine 3"
print(strings_new_line)

Line 1
Line 2
Line 3

In [56]:
strings_tabs = "No tab\tOne tab\t\tTwo tabs\t\t\tThree tabs\t\t\t\tFour tabs."
print(strings_tabs)

No tab	One tab		Two tabs			Three tabs				Four tabs.

In [57]:
strings_backslash = "If you want to use a backslash in your string, you will need to use double backslash. (\\)"
print(strings_backslash)

If you want to use a backslash in your string, you will need to use double backslash. (\)

## User Input

A large chunk of software interacts with users, and a common way a user interacts with a program is by inputting data. In Python, we take user input by using the input() function.

In [59]:
student_name = input("Enter your name: ")
print(f"Hello {student_name}, it's good to see you attend the module and I am glad you are here.")

Enter your name: vatsal
Hello vatsal, it's good to see you attend the module and I am glad you are here.

In [60]:
students_age = input("Enter your age: ")
print(f"You are {students_age} years old.")

Enter your age: 19
You are 19 years old.

In [61]:
students_age_next_year = students_age + 1

TypeError: can only concatenate str (not "int") to str

In [62]:
type(students_age)

str

When using the __input()__ function, you need to be aware of how Python always interprets the data entered by the user as a string. Even if the user only inputs numbers, it will be of data type string. This becomes a point of consideration if you ever wish to do something with that input which is not compatible with the string data type. In the above example, we see that trying to perform an arithmetic operation on a string and an integer results in an error.

For our example above, we can use the __int()__ function to change the age from a string to an integer, as we have done previously. However, this only works if the user has only inputted numbers, if we try to convert text into an integer we will get a different error. Further on in the bootcamp, we will cover how we can ensure that a user is inputting the data we want, when we cover while loops and again when we cover testing.

In [63]:
int(students_age) + 1

20

In [64]:
int("twenty-one")

ValueError: invalid literal for int() with base 10: 'twenty-one'

## String Formatting

In the previous section, you may have noticed how we inserted the value of our variable into a string. We call this string interpolation, and in the newer versions of Python 3 (3.6 and later), Python makes it super easy to format our strings by using ‘f-strings’(format strings). You utilise f-strings by putting the letter f before the quotations marks of your string and inserting the variables between a set of curly braces - {}.

In [65]:
book = "The Count of Monte Cristo"
author = "Alexandre Dumas"

print(f"The book I am currently reading is {book}, by {author}.")

The book I am currently reading is The Count of Monte Cristo, by Alexandre Dumas.

Although f-strings are the easiest way to format strings, the previous ways of formatting strings are still valid and you will probably come across them at some point. Before the release of f-strings in Python 3.6 you had to use the format() method.

In [66]:
classical_piece = "Gymnopedie no.3"
composer = "Erik Satie"
artist = "Reinbert de Leeuw"

print("I am currently listening to {}, by {}, played by the late {}.".format(classical_piece, composer, artist))

print("In 1888 {1} composed {0}.".format(classical_piece, composer, artist))

I am currently listening to Gymnopedie no.3, by Erik Satie, played by the late Reinbert de Leeuw.
In 1888 Erik Satie composed Gymnopedie no.3.

The two ways are not too dissimilar, however using the format method can become more clunky when you are including lots of variables. The ordering of the variables also matters, Python will insert the variables in the order they appear in the format() method. This can become quite difficult when dealing with many variables or when you need to insert a variable more than once. You also have the choice of manually setting the order by using indexing (will cover indexes later), but this is also far from effortless when having to insert many variables.

## String Methods

Above, we mentioned string methods. For now, just think of string methods as functions (similar to the int() function we used early) that only work on strings. There are too many string methods to go through them all individually, so we will just go over useful methods when dealing with user input. (Don't worry about the terminology, we will go over functions and methods later on.)

Different users will input data differently. I’m sure you have seen people post online (or in module feedback). WHO ARE ALWAYS TYPING IN ALL CAPS or Feel The Need To Capitalise Every Single Word. This can cause problems for you when trying to match the input of your users to conditions you have set.

In [67]:
"yes" == "Yes"

False

As you see above ‘yes’ with a lowercase y is not interpreted by Python as being equivalent to ‘Yes’ with an uppercase y, (note here we are using the double equals sign (==) to test for equality). It is therefore often good practice to convert string data inputted by a user to all lower case to avoid this issue.

You can effortlessly change the case of your string using the many string methods that come with Python. The most common ones you will use are the string lower(), upper(), and title() method.

In [68]:
name = "MiChAeL mOrTeNsOn"

print(name.lower())
print(name.upper())
print(name.title())
print(f"\n{name}")

michael mortenson
MICHAEL MORTENSON
Michael Mortenson

MiChAeL mOrTeNsOn

An important thing to note is that we have not reassigned the variable by using a string method on it. String methods do not change the original string, they only return a new value when called that one time.

If we want to apply the changes to our string we would reassign our variable in the same way we have previously.

In [69]:
name = name.title()

print(name)

Michael Mortenson

Finally, another common string method to use when processing user input and processing data is the strip() method, which removes any extra whitespace from the beginning or end of a string.

In [70]:
city = "    Coventry "
print(city)

    Coventry

Above we can see our string has some leading and trailing whitespace. When we print our string, the leading white space is obvious, whereas the trailing whitespace is not. If you only wish to strip either the leading or trailing whitespace you can use lstrip() (for left) or rstrip() (for right).

In [71]:
print(city.strip())
print(city.lstrip())
print(city.rstrip())

Coventry
Coventry
    Coventry

The __strip()__ method like the round function we used in the last notebook, comes with parameters. We are able to strip specific characters and not just whitespace, this can be useful for removing punctuation.

In [72]:
percentage = "50%"
print(percentage.rstrip("%"))

price = "£7.99"
stripped_price = float(price.lstrip("£"))
print(stripped_price)

50
7.99

In [73]:
float(price)

ValueError: could not convert string to float: '£7.99'

This is a simple example showing where using one of the __strip()__ methods is appropriate, we may want to perform some maths on some data containing product prices, to do this we would need to convert the data into a numeric data type (float in this case). Some data entries may include currency symbols and trying to convert these strings to a float will cause an error, as floats cannot contain symbols.

This is just a basic overview of string methods, you can find a full list of strings methods [here](https://docs.python.org/3/library/stdtypes.html#string-methods).

## String Concatenation

In Python you may wish to join strings together. We call this __string concatenation__ and we perform string concatenation using the plus symbol, in the same way we would add two numbers together.

In [74]:
first_name = "Michael"
last_name = "Mortenson"
greeting = "Hello"

message = greeting + first_name + last_name
print(message)

HelloMichaelMortenson

Be aware when concatenating strings in this way you will need to add the spaces to seperate the words manually, this can be done by either adding the spaces to the actual value or by adding stings containing a spaces when concatenating.

In [75]:
message = greeting + " " + first_name + " " + last_name + "."
print(message)

Hello Michael Mortenson.

You may have noticed in the user input section, when we tried to perform arithmetic on a number represented as a string, we got a TypeError stating we “can only concatenate str (not “int”) to str“, because the + symbol is used for both addition and concatenation when you mix the data types it will raise an error. This combined with the clunkiness of having to add spaces manually is why I prefer using f-strings to concatenate strings, as we can interpolate many data types into the string.

In [76]:
visitor_number = 1

In [77]:
message = greeting + " " + first_name + " " + last_name + " you are visitor number " + visitor_number + "."

TypeError: can only concatenate str (not "int") to str

In [78]:
message = greeting + " " + first_name + " " + last_name + " you are visitor number " + str(visitor_number) + "."
print(message)

Hello Michael Mortenson you are visitor number 1.

In [79]:
message = f"{greeting} {first_name} {last_name}, you are visitor number {visitor_number + 1}."
print(message)

Hello Michael Mortenson, you are visitor number 2.

Using an f-string for string concatenation is quicker, easier and more readable while also being less prone to TypeErrors than the traditional way of concatenating strings.

## String Slicing

We now know in Python we can join strings together by concatenating them, we can also take strings apart, this is called string slicing. The code below shows some examples of string slicing. The code below will make more sense to you after the next notebook on the lists data structure.

In [80]:
alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

In [81]:
alphabet[0:10]

'ABCDEFGHIJ'

In [82]:
alphabet[16:26]

'QRSTUVWXYZ'

In [83]:
alphabet[-10:26]

'QRSTUVWXYZ'

In [84]:
alphabet[::2]

'ACEGIKMOQSUWY'

In [85]:
alphabet[::-1]

'ZYXWVUTSRQPONMLKJIHGFEDCBA'