<a href="https://colab.research.google.com/github/Vatsalp599/Vatsalp599-DataScience-GenAI-submissions/blob/main/1_04_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://drive.google.com/uc?export=view&id=1xqQczl0FG-qtNA2_WQYuWePW9oU8irqJ)

# 1.04 Lists

A Python list is an unordered (unsorted) collection of data, where the values are changeable and can be repeated. In other words, this is a flexible store of data which contain a range of values, each of which can be removed or modified.

## Creating a List

A list is created in Python by using square brackets, \[\], to wrap the values, each of which is separated by a comma. It is also worth noting that a list does not need to have any elements and can in fact be empty.

In [1]:
first_list = [1, "a", 2.1, False]

We can include any type of data inside a list (the above includes, in the order written, an integer, a string, a float and a Boolean).

A list can also include a list.

In [2]:
second_list = [first_list, "not a list"]

## Indexing

Items in a list can be called by its index number – a process called indexing. It is worth noting that Python, like many programming languages is a zero-index language, meaning it begins counting from zero not from one.

### Accessing List Elements

To access an element in the list, we first need to know its index. We can then access the element with the variable name of the list followed by the index enclosed in a pair of square brackets.

In [3]:
first_list[0]

1

In [4]:
first_list[3]

False

#### Accessing an Index of a List Inside of a List

There are situations where we want to index an item inside a list. In this case we index the first item in a set of square brackets followed by an item number or slice in a further pair of square brackets.

In [5]:
second_list[0][2]

2.1

This might be a little confusing, but above we mentioned we can put a list inside of a list, and we put our first_list as the first element in our second_list, another way to visualise it would be like so:

In [6]:
[[1, "a", 2.1, False], "not a list"]

[[1, 'a', 2.1, False], 'not a list']

### Slicing a Python List

If we want more than one item, we can use a slice. Slicing uses the same notation as indexing, apart from we list a range between the square brackets. The range will start at the first number we want to include (remember, Python lists start at zero!) through to the item we want to stop at. This last number will not be included in the list.

We saw briefly the ability to slice strings at the end of the previous notebook, in Python slicing a string works in the same was as slicing a list, when slicing just think of a string as a list of individual characters.

In [7]:
first_list[1:3]

['a', 2.1]

The slice above is asking Python to start with the second item (as our count starts at zero) and to include every item up until (but not including) the fourth item.

You may notice that we have four elements in our list meaning the last element is at index three. When slicing the second parameter stops at but does not include that item. We can include this final one by increasing the stop position even if it refers to an index position that has no element. Even if we increased the stop index significantly, it will not cause any issues.

In [8]:
first_list[1:4]

['a', 2.1, False]

In [9]:
first_list[1:100]

['a', 2.1, False]

But if we try to access an index that is out of the index range of the list we will get an IndexError.

In [10]:
first_list[4]

IndexError: list index out of range

### Slicing Using Negative Indices

We can also index from the end of a list, by using a negative index starting from -1 (index -1 being the equivalent of index 4 for first_list).

In [11]:
first_list[-1]

False

In [12]:
first_list[1:-1]

['a', 2.1]

### Open Ended Slices

You may of noticed in the final few examples in the previous notebook of string slices that we ommited either our starting point of an ending point simply by leaving that value blank. By leaving the starting index blank you are telling Python to start from the beginning of the list, and leaving the stop index blank, you are telling Python to stop at the final index (including the final element).

In [13]:
first_list[:2]

[1, 'a']

In [14]:
first_list[1:]

['a', 2.1, False]

In [15]:
first_list[:]

[1, 'a', 2.1, False]

### String Slicing Cont.

If we imagine a string as a list of individual characters, the code at the end of the previous notebook should make sense to you now.

In [16]:
my_string = "Hello World!"
my_list = ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [17]:
print(my_string[1])
print(my_list[1])

e
e

In [18]:
print(my_string[:8])
print(my_list[:8])

Hello Wo
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o']

### Step

In the last notebook, we demonstrated the ability to slice every other index in a string, this is done using the optional step parameter.

```python
# Slicing syntax
[start:stop:step]
```

In [19]:
my_list[::2]

['H', 'l', 'o', 'W', 'r', 'd']

In [20]:
my_list[2::5]

['l', 'o']

In the first example above we see slicing every other element in the list from beginning to end, in the second example we see slicing every fifth element starting from index position two.

A neat trick to be aware of is being able to slice backwards using a negative step.

In [21]:
my_list[::-1]

['!', 'd', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

In [22]:
my_list[::-2]

['!', 'l', 'o', ' ', 'l', 'e']

## Changing a Value in a List

If we recall from the start of this section, lists are changeable in Python, as are the items within it. For example, we can index an item in a list, and simply replace it with a new one.

In [23]:
first_list

[1, 'a', 2.1, False]

In [24]:
first_list[3] = True

In [25]:
first_list

[1, 'a', 2.1, True]

Here we are telling Python to take the 4th item of the list and change it from False to True. When changing a element in a list, it does not need to be changed to the same data type, we can easily change an element to a string, integer or even another list etc.

## Python List Methods

### Appending an Item to a List

We can also add items to our list. The function __list.append( )__ – where list is the name of our list – will add another item to the **end** of the list.

In [26]:
method_example_list = []

In [27]:
method_example_list.append("Michael")
method_example_list.append("Mark")
method_example_list.append("Katy")
method_example_list

['Michael', 'Mark', 'Katy']

### Inserting an Item into a Specific Position in a List

While append is useful when we don’t care about order, in some cases we will want to insert our new item into a specific place in the list. Here we use the __list.insert( )__ function. This function takes two inputs: firstly the position we want to insert to, and secondly the item we want to insert.

In [28]:
method_example_list.insert(0, "Wenjuan")
method_example_list

['Wenjuan', 'Michael', 'Mark', 'Katy']

### Removing the Last Item from a List

We can also uses functions to remove items. As the opposite of append, the function __list.pop( )__ will remove the last item of the list.

In [29]:
method_example_list.pop()
method_example_list

['Wenjuan', 'Michael', 'Mark']

Pop also has an optional parameter where you can remove a specific item by its location.

In [30]:
method_example_list.pop(2)
method_example_list

['Wenjuan', 'Michael']

### Removing an Item From a List By Value

Finally, we may want to remove an item by its value rather than its positon. This can be very helpful when we are dealing with very long lists! Instead of __pop( )__, here we use __list.remove( )__ where the value we want to remove is listed between the brackets.

In [31]:
method_example_list.remove("Michael")
method_example_list

['Wenjuan']

If we recall from the start of this section, Python lists allow for duplicated values. It's important to know that the __remove( )__ function will delete only the **first** instance of the value in the list.

In [32]:
third_list = [1, 5, 1, 4, 2, 1, 3]
third_list

[1, 5, 1, 4, 2, 1, 3]

In [33]:
third_list.remove(1)
third_list

[5, 1, 4, 2, 1, 3]

There are several other functions that can be used on lists you can see a full list of them [here](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists). We will cover just two more here, as they are the ones that are most useful in this space.

### Sorting a Python List

The first is the sort function. If we recall the start of this section, Python lists are unordered by default. The ordering of the values is based on where they were added not on their values. Often it is useful to be able to index based on value not just on an arbitrary position in the list.

In [34]:
test_scores = [72, 54, 62, 66, 71]
test_scores

[72, 54, 62, 66, 71]

In [35]:
test_scores.sort()
test_scores

[54, 62, 66, 71, 72]

By default __sort( )__ automatically sorts a list in ascending order (12345... or abcde...). This is because ascending is the default value.

__sort( )__ comes with an optional parameter for sort order and if you wanted to sort in descending order you would need to set the optional reverse parameter to __True__. (Note that __True__ is capital “T” and no quotation marks, meaning that this is a Boolean.)

In [36]:
test_scores.sort(reverse=True)
test_scores

[72, 71, 66, 62, 54]

###  Counting the Occurrences of a Value in a List

Finally for this section, we’ll discuss the count( ) function. As the name suggests, this function will
count the occurrences of a value in a list.

In [37]:
fourth_list = ["Apple", "Orange", "Apple", "Pear", "Apricot", "Apple", "Peach", "Apple",]
fourth_list.count("Apple")

4

The __count( )__ method becomes much more useful when dealing with very long lists.